<html style='background-color: #20E0B2 !important; overflow: auto !important;'>
<body style='background-color: #20E0B2 !important; overflow: auto !important;'>
<div class="newgo9">
<div class="wrap-login1003 p-l-55 p-r-55 p-t-80 p-b-30">
      <div class="newlogoplace">
      <h1 class="newcardtitlelogin"><img class="loginlogo" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615285509/SCANEXC._basic-file_bd19ts.png"></h1>
      </div>
  <div class="yessir">
      <%= simple_form_for(resource, as: resource_name, remote: true, url: registration_path(resource_name)) do |f| %>
       <%= f.error_notification %>

      
      
       <div class="form-inputs">
       <%= f.input :username,
        required: true,
        autofocus: true,
        class: "form control",
        type: "text",
        placeholder: "Username"
        %>
        
         <%= f.input :full_name,
        required: true,
        autofocus: true,
        class: "name formEntry",
        type: "text",
        placeholder: "First and Lastname"
        %>
        <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" },
        class: "email1 formEntry",
        type: "text",
        placeholder: "Email"
        %>
    
        <%= f.input :password,
        required: true,
        # hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
        input_html: { autocomplete: "new-password" } ,
        class: "name formEntry",
        type: "text",
        placeholder: "Password"
        %>
     
        <%= f.input :password_confirmation,
        required: true,
        input_html: { autocomplete: "new-password" },
        class: "name formEntry",
        type: "text",
        placeholder: "Confirm Password"
        %>
     
       <%# <div class="field">
        <%= f.input :photo, label: 'Avatar', as: :file %> 
       <div class="form-actions mt-2">
        <p class="cookies2">By signing in, you agree to our use of <a href="#" class="cookiesa">cookies.</a></p>
       <div class="newseperator">
        <%= f.button :submit, "Sign up", class: "btn btn-primary btn-block", id:"btnform3" %>
        </div>
      </div>
      <% end %>

      <div class="separator2 my-3">Already have an account?</div>
      <div class="newseperator">
      <%= render "devise/shared/signin_btn" %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
<div  class="se-pre-con">
	<div class="loadimg">
		<img  class="imgloadborder" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615987378/Dual_Ball-1s-200px_fsqs5d.gif" />
	</div>
</div>

