<div class="newback">
<h1 class="newcardtitle">This Month :</h1>
<div class="newoptions">
<div class="loadnew">
<div class="centered">
  <div class="plus" id="plus">
    <div class="plus__line plus__line--v">
      <a href="/technologies"><i class="plus__link fas fa-mobile-alt"></i></a>
      <a href="/sneakers"><i class="plus__link fas fa-tshirt"></i></a>
      <a href="/sports"><i class="plus__link fas fa-basketball-ball"></i></a>
      <a href="/gadgets"><i class="plus__link fas fa-random"></i></a>
    </div>
    <div class="plus__line plus__line--h"></div>
  </div>
</div>
</div>
</div>
        <%@sports.each do |sport|%>
            
      
         <section class="cards-wrapper">
  <div class="card2-grid-space">
    
    <div class="card2" style="">
    <div>
   <%= cl_image_tag sport.photo.key, :cloud_name => 'dn6wh4u2h', crop: :fill%> 
        <%= link_to sport_path(sport) do %> 
        <h1><%= sport.title %></h1>
        <p><%= sport.description%></p>
        <%end%> 
        
        <div class="tags">
          <div class="tag"><%=sport.points%>PTS</div>
        </div>
  </div>
    </div>
  </div>
 </div> 
    
  
</section>

<%end%>

<script>
 var plus = document.getElementById('plus');

 function plusToggle() {
    plus.classList.toggle('plus--active');
}

plus.addEventListener('click', plusToggle);
</script>