<html style='background-color: #20E0B2 !important; overflow: auto !important;'>
<body style='background-color: #20E0B2 !important; overflow: auto !important;'>
<div class="newback">
<h1 class="newcardtitle">This Month :</h1>

</div>

<div class="clearbtn">
 <a href="/path/wins/windirection"><div class="bk-btn"><div class="bk-btn-triangle"></div><div class="bk-btn-bar"></div></div></a>
</div>

<%@sports.each do |sport|%>
<div class="backkgr">
<div class='container-fluid'>
    <div class="card22 mx-auto col-md-3 col-10 mt-5 pt-4">
        <div class="d-flex sale ">
            <div class="btn345">
            <div class="number34">
            <%=sport.winpoints%>
            </div>
            </div>
        </div> <%= cl_image_tag sport.photo.key, :cloud_name => 'dn6wh4u2h', crop: :fill, style: 'background-image', class: "imglo"%>
        <div class="card-body text-center mx-auto">
        <%= link_to sport_path(sport) do %> 
            <h5 class="card-title"><%=sport.title%></h5>
            <p class="card-text"><%=sport.description%></p>
             <%end%>
        </div>
    </div>
</div>
</div>
</body>
</html>
<%end%>

<script>
 var plus = document.getElementById('plus');

 function plusToggle() {
    plus.classList.toggle('plus--active');
}

plus.addEventListener('click', plusToggle);
</script>
<div  class="se-pre-con">
	<div class="loadimg">
		<img  class="imgloadborder" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615987378/Dual_Ball-1s-200px_fsqs5d.gif" />
	</div>
</div>
