<html style='background-color: #20E0B2 !important'>
<body style='background-color: #20E0B2 !important'>

<div class="col-md-9">
            <div class="card34 p-4 mt-3">
                <div class="d-flex justify-content-center px-5">
                    <div class="search34"> <input type="text" class="search-input" placeholder="Search..." name=""> <a href="#" class="search-icon"> <i class="fa fa-search"></i> </a> </div>
                </div>
                <div class="row mt-4 g-1 px-4 mb-5">
                    <div class="col">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="https://i.imgur.com/Mb8kaPV.png" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Account</span> </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="https://i.imgur.com/ueLEPGq.png" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Payments</span> </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="https://i.imgur.com/tmqv0Eq.png" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Delivery</span> </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="https://i.imgur.com/D0Sm15i.png" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Product</span> </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>


<%@stores.each do |store|%>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card23 p-3" style="border-radius: 1.25rem !important;">
                <div class="d-flex flex-row mb-3">
                <% if store.business_image.attached? %>
                <%= cl_image_tag store.business_image.key, class: "profile-pic2" %>
                <% end %>
                <%= link_to store_path(store) do %> 
                    <div class="d-flex flex-column ml-2"><span class="cooltitle"><%=store.business_title%></span><span class="text-black-50">Scans : <%=store.total_scans%></span><span class="ratings"></span></div>
                </div>
                <h6 class="descriptionh6"><%=store.business_description%></h6>
                <%end%>
                <div class="d-flex justify-content-between install mt-3"><span>Open : <%=store.business_opening%></span><span class="text-primary"></span></div>
            </div>
        </div>
    </div>
</div>
<%end%>
</body>
</html>
<div  class="se-pre-con">
	<div class="loadimg">
		<img  class="imgloadborder" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615987378/Dual_Ball-1s-200px_fsqs5d.gif" />
	</div>
</div>
