<html style='background-color: #20E0B2 !important; overflow: auto !important;'>
<body style='background-color: #20E0B2 !important; overflow: auto !important;'>


<div class="searchfunction">
 <%= search_form_for @q do |f| %>
  <div class="col">
    <%= f.text_field :business_title_cont, class: 'form-control', placeholder: "Search..." %>

  </div>
</div>
<%end%>

<div class="clearbtn">
 <a href="/stores", class="btn btn-success btn-block", id= 'locogobtn', remote: :true>Clear</a>
</div>





<%@stores.each do |store|%>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card23 p-3" style="border-radius: 1.25rem !important;">
                <div class="d-flex flex-row mb-3">
                <% if store.business_image.attached? %>
                <%= cl_image_tag store.business_image.key, cloud_name: "dn6wh4u2h", class: "profile-pic2" %>
                <% end %>
                <%= link_to store_path(store) do %> 
                <div class="d-flex flex-column ml-2"><span class="cooltitle"><%=store.business_title%></span><span class="text-black-50">
                <% if Date.today.monday? %>
                <%=store.mondaytime%>
                <% elsif Date.today.tuesday?%>
                <%=store.thuesdaytime%>
                <% elsif Date.today.wednesday?%>
                <%=store.wednesdaytime%>
                <% elsif Date.today.thursday?%>
                <%=store.thursdaytime%>
                <% elsif Date.today.friday?%>
                <%=store.fridaytime%>
                <% elsif Date.today.saturday?%>
                <%=store.saturdaytime%>
                <% elsif Date.today.sunday?%>
                <%=store.fridaytime%>
                <%end%>
                </span><span class="ratings"></span></div>
                </div>
                ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                <% if store.promotion_photos.attached? %>
                 <%= cl_image_tag store.promotion_photos.first.key, crop: :fill, class: "indexpics"%> 
                <% end %>
                <h2 class="newh2index">More Info -><h2>
                <%end%>
            </div>
        </div>
    </div>
</div>
<%end%>
</body>
</html>
<div  class="se-pre-con">
	<div class="loadimg">
		<img  class="imgloadborder" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615987378/Dual_Ball-1s-200px_fsqs5d.gif" />
	</div>
</div>
