<div class="orb">
<div class="newh1">
  <h1 class="newh1circle"><%= current_user.winpoints %></h1>
</div>
</div>

<div class="cardinfo">
<div class="cardshow">
  <div class="card__front card__part">
    <img class="card__front-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
    <div class="card__front-logo card__logo">
	<% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, :cloud_name => 'dn6wh4u2h', class: "rounded-circle" %>
          <% elsif current_user.avatar_url? %>
          <%= image_tag current_user.avatar_url, class: "rounded-circle" %>
          <% else %>
          <%= image_tag src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1610914953/IMG_3320_2_p1ux2a.jpg",:cloud_name => 'dn6wh4u2h', class: "rounded-circle" %>
          <% end %>
</div>
    <p class="card_numer">**** **** **** <%= current_user.plz %></p>
    <div class="card__space-75">
      <span class="card__label"><%= current_user.full_name %></span>
      <p class="card__info"><%= current_user.username %></p>
    </div>
    <div class="card__space-25">
      <span class="card__label"><%= current_user.city %></span>
            <p class="card__info"><%= current_user.house_number %></p>
    </div>
  </div>
  
  <div class="card__back card__part">
    <div class="card__black-line"></div>
    <div class="card__back-content">
      <div class="card__secret">
        <p class="card__secret--last"><%= current_user.winpoints %></p>
      </div>
      <img class="card__back-square card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
      <div class="card__back-logo card__logo">
      <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, :cloud_name => 'dn6wh4u2h', class: "rounded-circle" %>
          <% elsif current_user.avatar_url? %>
          <%= image_tag current_user.avatar_url, class: "rounded-circle" %>
          <% else %>
          <%= image_tag src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1610914953/IMG_3320_2_p1ux2a.jpg",:cloud_name => 'dn6wh4u2h', class: "rounded-circle" %>
          <% end %>
		  </div>
    </div>
  </div>
  
</div>
</div>