<div class="device-wrapper">
  <div class="device-container forgot_pw">
<h2 class="newcardtitle187">Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs3">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions3 mb-2">
    <%= f.button :submit, "Send me reset password instructions", class: "btn btn-warning btn-block" %>
  </div>
<% end %>

<%# <%= render "devise/shared/forgot_pw_page" %> 
</div>
</div>