
<html style='background-color: #20E0B2 !important'>
<body style='background-color: #20E0B2 !important'>
<div class="newgo9">
<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
      <div class="newlogoplace">
      <h1 class="newcardtitlelogin"><img class="loginlogo" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615285509/SCANEXC._basic-file_bd19ts.png"></h1>
      </div>
  <div class="yessir">
      <%= simple_form_for(resource, as: resource_name, remote:true, url: session_path(resource_name)) do |f| %>

      
      <div class="form-inputs">
       <%= f.input :username,
        required: true,
        autofocus: true,
        placeholder: "Username"
        %>
        
        <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" },
        placeholder: "Email"
        %>


        <%= f.input :password,
        required: true,
        input_html: { autocomplete: "current-password" },
        placeholder: "Password" 
        %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      
      

      
       <div class="form-actions mt-2">
       <div class="newseperator">
        <%= f.button :submit, " Log in", class: "btn btn-primary btn-block mb-2", id:"btnform2" %> 
      </div>
        <%= render "devise/shared/forgot_pw", class: "newforgot" %> 
       </div>
      
      <div class="newairwaves">
      <div class="separator my-3">Don't have an account?</div>
      </div>
      <div class="mokko">
      <%= render "devise/shared/signup_btn", id:"btnform2" %>
    </div>
<% end %>
  </div>
  </div>
  </div>
</div>
</body>
</html>
