<html style='background-color: #20E0B2 !important; overflow: auto !important;'>
<body style='background-color: #20E0B2 !important; overflow: auto !important;'>





<div class="searchfunction">
 <%= search_form_for @q do |f| %>
  <div class="col">
    <%= f.text_field :business_title_cont, class: 'form-control', placeholder: "Search..." %>
    <%= link_to "Clear", restaurants_path, class: "btn btn-danger btn-block", id: 'locogobtn', remote: :true %>

  </div>
<%end%>
</div>
  <%# <%@restaurants.each do |restaurant| %> 
    <%# <h3><%= restaurant.business_title</h3> %>
    <%# <p><%= restaurant.business_description %> 
    <%# <button class="btn-primary"> %>
      <%# <%= restaurant.business_opening %> 
    <%# </button> %>
    <%# <button class="btn-danger"> %>
      <%# <%= restaurant.business_rating %> 
    <%# </button> %>
  <%# <% end %> 



<%# <%= simple_form_for :search, url: restaurants_path, method: "GET", html: { class: 'form-inline' } do |f| %> 
  <%# <%= f.input :name, input_html: {value: ""} %> 
  <%# <%= f.submit "Search", class: "btn btn-primary" %> 
<%# <% end %> 


<%# <%= simple_form_for :search, url: restaurants_path, method: "GET", remote: true do |f| %> 
  <%# <%= f.input :cusine, as: :select, collection: $cusines, prompt: 'Select Cusine', label: false %> 
  <%# <%= f.input :price, as: :select, collection: $prices, prompt: 'Select Price', label: false %> 
  <%# <%= f.input :delivery, as: :select, collection: $deliveries, prompt: 'Select Delivery', label: false %> 
  <%# <%= link_to "Reset", restaurants_path  %> 
  <%# <div class="col-xs-12 col-sm-8"> %>
   <%# <div id="restaurants"> %>
     <%# <%= render "restaurant", restaurants: @restaurants %> 
   <%# </div> %>
  <%# </div> %>
<%# <% end %> 


<%# <div class="col-xs-12 col-sm-8"> %>
 <%# <div id="restaurants"> %>
   <%# <%= render 'restaurant', restaurants: @restaurants %> 
 <%# </div> %>


<%@restaurants.each do |restaurant|%>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card23 p-3" style="border-radius: 1.25rem !important;">
                <div class="d-flex flex-row mb-3">
                <% if restaurant.business_image.attached? %>
                <%= cl_image_tag restaurant.business_image.key, class: "profile-pic2" %>
                <% end %>
                <%= link_to restaurant_path(restaurant) do %> 
                    <div class="d-flex flex-column ml-2"><span class="cooltitle"><%=restaurant.business_title%></span><span class="text-black-50">Scans : <%=restaurant.total_scans%></span><span class="ratings"></span></div>
                </div>
                <h6 class="descriptionh6"><%=restaurant.business_description%></h6>
                <%end%>
                <div class="d-flex justify-content-between install mt-3"><span>Open : <%=restaurant.business_opening%></span><span class="text-primary"></span></div>
            </div>
        </div>
    </div>
</div>
<%end%>



</body>
</html>

<div  class="se-pre-con">
	<div class="loadimg">
		<img  class="imgloadborder" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615987378/Dual_Ball-1s-200px_fsqs5d.gif" />
	</div>
</div>

