<div class="formceleb">
      <%= simple_form_for @restaurant do |f| %>

      <div class="form-inputs">
        <%= f.label :business_title, class: 'text-white' %>
        <%= f.input :business_title %>
        <%= f.label :business_address, class: 'text-white' %>
        <%= f.input :business_address %>
        <%= f.label :business_image, class: 'text-white' %>
        <%= f.input :business_image, as: :file %>
        <%= f.label :business_description, class: 'text-white' %>
        <%= f.text_field :business_description %>
        <%= f.label :business_rating, class: 'text-white' %>
        <%= f.input :business_rating %>
        <%= f.label :business_founding, class: 'text-white' %>
        <%= f.input :business_founding %>
        <%= f.label :business_stores, class: 'text-white' %>
        <%= f.input :business_stores %>
        <%= f.label :business_website, class: 'text-white' %>
        <%= f.text_field :business_website %>
        <%= f.label :business_number, class: 'text-white' %>
        <%= f.input :business_number %>
        <%= f.label :business_card, class: 'text-white' %>
        <%= f.input :business_card %>
        <%= f.label :total_scans, class: 'text-white' %>
        <%= f.input :total_scans %>
        <%= f.label :business_opening, class: 'text-white' %>
        <%= f.input :business_opening %>
        <%= f.label :business_delivery_service, class: 'text-white' %>
        <%= f.text_field :business_delivery_service %>
        <%= f.label :business_delivery, class: 'text-white' %>
        <%= f.input :business_delivery %>
        
        
      </div>


        <%= f.submit "Submit offer", class: "btn btn-primary btn-block" %>

      <% end %>

</div>

