<html style='background-color: #20E0B2 !important; overflow: auto !important;'>
<body style='background-color: #20E0B2 !important; overflow: auto !important;'>


<div class="searchfunction">
 <%= search_form_for @q do |f| %>
  <div class="col">
    <%= f.text_field :business_title_cont, class: 'form-control', placeholder: "Search..." %>
    <%= link_to "Clear", cafeandbars_path, class: "btn btn-danger btn-block", id: 'locogobtn', remote: :true %>

  </div>
<%end%>
</div>

<div class="clearbtn">
 <a href="/cafeandbars", class="btn btn-success btn-block", id= 'locogobtn', remote: :true>Clear</a>
</div>
<div class="clearbtn">
 <a href="/path/businesses/business"><div class="bk-btn"><div class="bk-btn-triangle"></div><div class="bk-btn-bar"></div></div></a>
</div>





<%@cafeandbars.each do |cafeandbar|%>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card23 p-3" style="border-radius: 1.25rem !important;">
                <div class="d-flex flex-row mb-3">
                <% if cafeandbar.business_image.attached? %>
                <%= cl_image_tag cafeandbar.business_image.key, class: "profile-pic2" %>
                <% end %>
                <%= link_to cafeandbar_path(cafeandbar) do %> 
                    <div class="d-flex flex-column ml-2"><span class="cooltitle"><%=cafeandbar.business_title%></span><span class="text-black-50">Scans : <%=cafeandbar.total_scans%></span><span class="ratings"></span></div>
                </div>
                <h6 class="descriptionh6"><%=cafeandbar.business_description%></h6>
                <%end%>
                <div class="d-flex justify-content-between install mt-3"><span>Open : <%=cafeandbar.business_opening%></span><span class="text-primary"></span></div>
            </div>
        </div>
    </div>
</div>
<%end%>
</body>
</html>
<div  class="se-pre-con">
	<div class="loadimg">
		<img  class="imgloadborder" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615987378/Dual_Ball-1s-200px_fsqs5d.gif" />
	</div>
</div>
