<html style='background-color: #20E0B2 !important; overflow: auto !important;'>
<body style='background-color: #20E0B2 !important; overflow: auto !important;'>
<div class="newback">
<h1 class="newcardtitle">This Month :</h1>

</div>

<div class="clearbtn">
 <a href="/path/wins/windirection"><div class="bk-btn"><div class="bk-btn-triangle"></div><div class="bk-btn-bar"></div></div></a>
</div>

        <%@sneakers.each do |sneaker|%>
            
      
         <section class="cards-wrapper">
  <div class="card2-grid-space">
    
    <div class="card2" style="">
    <div>
   <%= cl_image_tag sneaker.photo.key, :cloud_name => 'dn6wh4u2h', crop: :fill, class: 'imglo'%> 
        <%= link_to sneaker_path(sneaker) do %> 
        <h1><%= sneaker.title %></h1>
        <p><%= sneaker.description%></p>
        <%end%> 
        
        <div class="tags">
          <div class="tag"><%= sneaker.points%>PTS</div>
        </div>
  </div>
    </div>
  </div>
 </div> 
  
  
</section>
</body>
</html>
<%end%>

<script>
 var plus = document.getElementById('plus');

 function plusToggle() {
    plus.classList.toggle('plus--active');
}

plus.addEventListener('click', plusToggle);
</script>
<div  class="se-pre-con">
	<div class="loadimg">
		<img  class="imgloadborder" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1615987378/Dual_Ball-1s-200px_fsqs5d.gif" />
	</div>
</div>
